#bondlogo-container {
	display: grid;
	grid-template-columns: auto 80% auto;
	grid-template-areas: ". bond .";

	>div {
		grid-area: bond;
		position: relative;
		background-color: $darkblue;
		width: 100%;
		height: 100vh;


		.svg-container {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;

			svg {
				width: 100%;
			}
		}
	}
}