section{
  
  #logo{
    svg{
        height: 150px;
        margin-top: 325px;
    }
  }
  
  #bondlogo{
   svg{
       height: 200px;
       margin-top: 300px;
       margin-left: 30px;
   } 
  }

  #logo_stroke{
      svg{
        height: 150px;
        margin-top: 325.5px;
        margin-left: -.5px;
      }
  }

  #Left-tab{
      svg{
          margin-top: 21px;
          height: 41px;   
      }
  }

  #Right-tab{
      svg{
          height: 41px;
          margin-top: 625px;
      }
  }

  #MPH{
      svg{
          height: 220px;
          margin-top: 240px;
          margin-left: 170px;
      }
  }

  #speedTag{
      font-family: "optima", bold-italic;
      font-size: 80px;
      margin-top: 300px;
      margin-left: 695px;
      color: white;
  }

  #gasgauge{
      svg{
          margin-top: 420px;
          margin-left: 300px;
          height: 140px;
      }
  }

  #rpm{
    svg{
        margin-top: 240px;
        margin-left: 430px;
        height: 220px;
    }
  }

  #rpmTag{
        font-family: "optima", bold-italic;
        font-size: 80px;
        margin-top: 300px;
        margin-left: 955px;
        color: white;
    }

  #time{
      svg{
        margin-top: 35px;
        height: 40px;
        margin-left: 450px;
      }
  }

  #icon_holder{
      svg{
          height: 540px;
          margin-top: 120px;
          margin-left: -470px;
      }
  }

  #icons{
      svg{
          height: 540px;
          margin-top: 120px;
          margin-left: -170px;
      }
  }

  #icon1{
      svg{
          height: 120px;
          margin-top: 135px;
          margin-left: -470px;

      }
  }

    #icon2{
        svg{
            height: 120px;
            margin-top: 265px;
            margin-left: -470px;
        }
    }

    #icon3{
        svg{
            height: 120px;
            margin-top: 395px;
            margin-left: -470px;
        }
    }

    #icon4{
        svg{
            height: 120px;
            margin-top: 525px;
            margin-left: -470px;
        }   
    }

    #weather{
        svg{
            height: 40px;
            margin-top: 170px;
            margin-left: -470px;
        }
    }

    #music{
        svg{
            height: 70px;
            margin-top: 290px;
            margin-left: -475px;
        }
    }

    #gps{
        svg{
            height: 70px;
            margin-top: 420px;
            margin-left: -470px;
        }
    }

    #seats{
        svg{
            height: 85px;
            margin-top: 545px;
            margin-left: -470px;
        }
    }

    #top_weather{
        svg{
            height: 49.2px;
            margin-top: 120px;
            margin-left: -170px;
        }
    }

    #sun-cloud{
        svg{
            height: 120px;
            margin-top: 220px;
            margin-left: -170px;
        }
    }

    #degrees{
        svg{
            height: 100px;
            margin-top: 360px;
            margin-left: -165px;
        }
    }

    #weather-text{
        svg{
            height: 110px;
            margin-top: 500px;
            margin-left: -170px;
        }
    }

    #icons_music{
        svg{
            height: 540px;
            margin-top: 120px;
            margin-left: -170px;
        }
    }

    #music_top{
        svg{
            height: 49.2px;
            margin-top: 120px;
            margin-left: -170px;
        }
    }

    #img{
        svg{
            height: 360px;
            margin-top: 169px;
            margin-left: -170px;
        }
    }

    #playbar{
        svg{
            height: 14px;
            margin-top: 550px;
            margin-left: -170px;
        }
    }

    #play-pause{
        svg{
            height: 50px;
            margin-top: 585px;
            margin-left: -170px;
        }
    }

    #icons_gps{
        svg{
            height: 540px;
            margin-top: 120px;
            margin-left: -170px;
        }
    }

    #gps-top{
        svg{
            height: 49.2px;
            margin-top: 120px;
            margin-left: -170px;
        }
    }

    #buildings{
        svg{
            height: 492.2px;
            margin-top: 169px;
            margin-left: -170px;
        }
    }

    #gpsClipPath{
        svg{
            height: 504px;
            margin-top: 156.5px;
            margin-left: -169px;
            #line{
                
            }
        }
    }

    #dot2{
        svg{
            height: 40px;
            margin-top: 620px;
            margin-left: -201px;

        }
    }

    #sun_rays{
        svg{
            height: 170px;
            margin-top: 185px;
            margin-left: -214px;
        }
    }

    #mph-gauge{
        svg{
            height: 156px;
            margin-top: 265px;
            margin-left: 171px;
        }
    }

    #seatlines{
        svg{
            height: 60px;
            margin-top: 580px;
            margin-left: -485px;
        }
    }

}