section{
  
  background-color: $darkblue;
  #logo{
    svg{
      margin-left: 580px;
      margin-top: 130px;
    }
  }
  
  #bondlogo{
   svg{
    width: 40%;
    margin-left: 600px;
    margin-top: 280px;
    margin-bottom: 600px;
   } 
  }
}