section{
  
  #logo{
    svg{
        height: 150px;
        margin-top: 325px;
    }
  }
  
  #bondlogo{
   svg{
       height: 200px;
       margin-top: 300px;
       margin-left: 30px;
   } 
  }

  #logo_stroke{
      svg{
        height: 150px;
        margin-top: 325.5px;
        margin-left: -.5px;
      }
  }

  #Left-tab{
      svg{
          margin-top: 21px;
          height: 41px;   
      }
  }

  #Right-tab{
      svg{
          height: 41px;
          margin-top: 670px;
      }
  }

  #MPH{
      svg{
          height: 220px;
          margin-top: 240px;
          margin-left: 170px;
      }
  }
}